//My Colors
$bg:#eeeeee;
$black: #1a1a1a;
$three: #333;
//Flat UI Colors
$main-color: #1582D2;
$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;
// Blues
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;
// Purples
$flat-amethyst: #b148dc;
$flat-wisteria: #8E44AD;
// Yellows
$flat-sunflower: #F1C40F;
// Oranges
$flat-light-orange: #ffa255;
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;
// Reds
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;
// Grays
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;
$flat-dark-liver: #4d4d4d;
$flat-gray: #3a3e47;
$flat-dark-charcoal: #333;
$flat-charleston-green: #2b2b2b;
$flat-raisin-black: #262626;
$flat-eerie-black: #1b1b1b;